@model Finocart.CustomModel.ForgetPasswordModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}


@using (Html.BeginForm("SendForgetPasswordMail", "Account", FormMethod.Post, new { enctype = "multipart/form-data", id = "FormSubmitLogin" }))
{
    @Html.AntiForgeryToken()
    <div id="login-box">
        <div class="col-xs-12 logbox log-big">
            <div class="login-box clearfix">
                <div style="display: inline-flex;position: relative;">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 padding hidden-xs">
                        <div class="left-box clearfix">
                            <img src="~/Content/images/login-logo.png" class="img-responsive" />
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 padding" id="logsec">
                        <div class="right-box">
                            @*<form>*@
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h3>Forget Password</h3>
                                        <label id="lblerror" class="error" style="color:green;">@TempData["MailSuccess"]</label>
                                        <label id="lblerror" class="error" style="color:red;">@TempData["WrongMail"]</label>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        @Html.HiddenFor(m => m.RoleName)
                                        @Html.TextBoxFor(m => m.EmailID, new { @class = "form-control", placeholder = "Email ID", @id = "Email" })
                                        <label id="lblWrongPasswordError" class="error" style="color:red;display: none;">@TempData["WrongPassword"]</label>
                                        <label id="lblEmailError" class="error" style="color:red;display: none;">Email cannot be empty</label>
                                        <label id="lblEmailInvalidError" class="error" style="color:red;display: none;">Enter proper email id</label>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="row" style="margin-top:20px">
                                            <div class="col-xs-12 col-sm-6">
                                                <button class="login-btn" type="button" id="Btn_Submit">Submit</button>
                                            </div>
                                            <div class="col-xs-12 col-sm-6">
                                                <button class="clear-btn" type="button" id="" onclick="ClearAllControls(FormSubmitLogin)">Back</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            @*</form>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}



