
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@*@using (Html.BeginForm())*@

@using (Html.BeginForm("SubmitPassword", "Account", FormMethod.Post, new { id = "myForm" }))
{

      @Html.AntiForgeryToken()


    <div id="login-box">
        <div class="col-xs-12 logbox log-big">
            <div class="login-box clearfix">
                <div style=" display:inline-flex;position: relative;">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 padding hidden-xs">
                        <div class="left-box clearfix">

                            <img src="~/Content/images/login-logo.png" class="img-responsive" />
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 padding" id="logsec">
                        <div class="right-box" id="rightbox">
                            @*<form>*@
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h3>Change Password</h3>
                                    </div>
                                </div>
                                @Html.Hidden("Username", (object)ViewBag.Username)
                                @Html.Hidden("Role", (object)ViewBag.role)
                                <div class="row">
                                    <div class="col-xs-12">
                                        @Html.Password("NewPassword", "", new { @class = "form-control", placeholder = "Password" })
                                        <label id="lblNewPasswordError" class="error" style="color:red;display: none;">Password cannot be empty</label>
                                        <label id="NewlblNewPasswordError" class="error" style="color:red;display: none;">Password should be more then 6 Keywords</label>

                                    </div>
                                    <div class="col-xs-12">
                                        @Html.Password("ConfirmPassword", "", new { @class = "form-control", placeholder = "Confirm Password" })
                                        <label id="lblNewPasswordError1" class="error" style="color:red;display: none;">Please Confirm Password</label>
                                        <label id="NewlblNewPasswordError1" class="error" style="color:red;display: none;">The password and its confirm are not the same</label>

                                    </div>
                                    <div class="col-xs-12">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6">
                                                <button class="login-btn" type="submit" id="btnSave">Submit</button>
                                            </div>
                                            <div class="col-xs-12 col-sm-6">
                                                <button class="clear-btn" type="button" id="" onclick="ClearAllControls(FormSubmitLogin)">Clear</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            @*</form>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

<script>

    $('#btnSave').click(function () {
        debugger;
        var Password = $('#NewPassword').val();
        var confirmPassword = $('#ConfirmPassword').val();
        var Username = $('#Username').val();
        var Role = $('#Role').val();

        var errormsg = false;

        if (Password == "") {
            $('#lblNewPasswordError').show();
            errormsg = true;
        }
        else if (Password.length < 6) {
            $('#lblErrLoginPwLength').show();
            errormsg = true;
        }

        if (confirmPassword == "") {
            $('#lblNewPasswordError1').show();
            errormsg = true;
        }
        if (confirmPassword != "") {
            if (Password != confirmPassword) {

                $('#NewlblNewPasswordError1').show();
                errormsg = true;
            }
        }

        if (errormsg == true) {
            return false;
        }
        $("#myForm").submit();
       
    });

</script>


