@model Finocart.CustomModel.VendorlistModel
@{
    ViewData["Title"] = "Vendor Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .modal-dialog {
        width: 600px;
        margin: 30px auto;
    }

    .hide-column {
        display: none;
    }
</style>
<script src="~/AnchorCompany/VendorAnchorListing.js"></script>
<script src="~/AnchorCompany/CompanyVendorListing.js"></script>
<script>
    var GetAnchorListing = '@Url.Action("GetVendorCompanyListing", "AnchorCompany")';
    var GetVendorListing = '@Url.Action("GetCompanyVendorListing", "AnchorCompany")';
    var GetCompanyBank = '@Url.Action("GetCompanyBankViewList", "AnchorCompany")';
    function BackBtn() {
        history.back();
    }
</script>
<div class="main-inner-section">
    <div class="content-upper-section" id="AnchorCompany">

        <div class="tabsec-main">
            <ul class="nav nav-pills">
                <li class="active"><a data-toggle="pill" href="#eInvoices" id="liElgibleInvoice">Vendor Company</a></li>
                <li><a data-toggle="pill" href="#dInvoices">Anchor Company</a></li>
                <li style="width:140px;text-align:center"><a data-toggle="pill" href="#bInvoices">Bank</a></li>
            </ul>

            <div class="tab-content">
                <input type="hidden" id="hdnCompanyID" value="@Model.VendorId" />
                <input type="hidden" id="hdnCompanyName" value="@Model.Company_name" />
                <div id="eInvoices" class="tab-pane fade in active">
                    <div class="row" id="eAnchorCompInvoices">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="search-box-main clearfix">
                                <div class="col-xs-12 col-sm-4 col-md-4 padding">
                                    @Html.TextBox("txt_Search", null, new { placeholder = "Search", @class = "searchTerm" })<span class="searchButton"><img src="~/Content/images/searchicon.png" class="img-responsive" style="display: inline;" /></span>
                                </div>
                                @*<div class="col-xs-12 col-sm-4 col-md-4 padding">
                                        @Html.TextBox("txt_TotalApprovedINV", null, new { placeholder = "Search by Total Invoice Amount", @class = "searchTerm" })<span class="searchButton"><img src="~/Content/images/searchicon.png" class="img-responsive" style="display: inline;" /></span>
                                    </div>*@

                                <div style="position:absolute;top:10px;right:200px;">
                                    <button id="ExportAnchCompCSV" class="excelbutton" style="margin-right:10px;">
                                        <img src="~/Content/images/excelicon.png" title="Download Excel File" class="img-responsive" style="display: inline;" />
                                    </button>
                                    <button class="cancel-btn" type="button" style="margin-left:170px;padding:12px;margin-right:10px;" onclick="BackBtn()">Back</button>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12">

                            <div class="main-table-box page-scroll">
                                <div class="table-responsive">
                                    <label style="margin-top:15px;margin-bottom:0px;font-size:15px;margin-left:16px;">Company Name: </label>
                                    <label style="margin-top:15px;margin-bottom:0px;font-size:15px;" id="lblcompanyName"></label>
                                    <table id="tbl_CompanyVendorList" class="table table-responsive table-hover table-bordered tbl_UserList">
                                        <thead>
                                            <tr>
                                                @*<th>Anchor Company</th>*@
                                                <th hidden>Vendor ID</th>
                                                <th>Vendor Name</th>
                                                <th>Contact No.</th>
                                                <th>Email ID</th>
                                                <th>Maximum Limit</th>
                                                <th>Vendor Status</th>
                                                <th>Date of Creation</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div id="dInvoices" class="tab-pane fade">
                    <div class="row" id="dOfferedInvoices">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="search-box-main clearfix">
                                <div class="col-xs-12 col-sm-4 col-md-4 padding">
                                    @Html.TextBox("txt_CompanyName", null, new { placeholder = "Search", @class = "searchTerm" })<span class="searchButton"><img src="~/Content/images/searchicon.png" class="img-responsive" style="display: inline;" /></span>
                                </div>
                                @*<div class="col-xs-12 col-sm-3 col-md-3 padding">
                                        @Html.TextBox("txt_DiscTotalApprovedINV", null, new { placeholder = "Search by Total Invoice Amount", @class = "searchTerm" })<span class="searchButton"><img src="~/Content/images/searchicon.png" class="img-responsive" style="display: inline;" /></span>
                                    </div>*@

                                <div style="position:absolute;top:10px;right:200px;">
                                    <button id="ExportDiscAnchCompCSV" class="excelbutton" style="margin-right:0;">
                                        <img src="~/Content/images/excelicon.png" title="Download Excel File" class="img-responsive" style="display: inline;" />
                                    </button>
                                    <button class="cancel-btn" type="button" style="margin-left:170px;padding:12px;margin-right:10px;" onclick="BackBtn()">Back</button>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="main-table-box page-scroll">
                                <div class="table-responsive">
                                    <label style="margin-top:15px;margin-bottom:0px;font-size:15px;margin-left:16px;"> Company Name: </label>
                                    <label style="margin-top:15px;margin-bottom:0px;font-size:15px;" id="lblcompanyName1"></label>
                                    <table id="tbl_VendorAnchorList" class="table table-responsive table-hover table-bordered tbl_UserList">
                                        <thead>
                                            <tr>
                                                @*<th>Vendor Company</th>*@
                                                <th hidden>Company ID</th>
                                                <th>Company Name</th>
                                                <th>Contact Name</th>
                                                <th>Contact No.</th>
                                                <th>Email ID</th>
                                                <th>Date of Creation</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="bInvoices" class="tab-pane fade">
                    <div class="row" id="eAnchorCompInvoices">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="search-box-main clearfix">
                                <div class="col-xs-12 col-sm-4 col-md-4 padding">
                                    @Html.TextBox("txt_CompanyNameSearch", null, new { placeholder = "Search", @class = "searchTerm" })<span class="searchButton"><img src="~/Content/images/searchicon.png" class="img-responsive" style="display: inline;" /></span>
                                </div>

                                <div class="col-xs-12 col-sm-4 col-md-4 padding">
                                    <button id="ExportAnchCompCSV" class="excelbutton" style="margin-right:0;">
                                        <img src="~/Content/images/excelicon.png" title="Download Excel File" class="img-responsive" style="display: inline;" />
                                    </button>
                                    <button class="cancel-btn" type="button" style="margin-left: 139px;" onclick="BackBtn()">Back</button>
                                    @*<button id="btnComapnyFilter" class="filterbtn">
            <img src="~/Content/images/filtericon.png" title="Filter" class="img-responsive" />
        </button>*@
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="main-table-box page-scroll">
                                <div class="table-responsive">
                                    <input type="hidden" id="hdnCompanyID" value="@Model.CompanyID" />
                                    <table id="tbl_CompanyBankViewList" class="table table-responsive table-hover table-bordered">
                                        <thead>
                                            <tr>
                                                <th style="width:10%">Company Names</th>
                                                <th style="width:10%">Bank Name</th>
                                                <th style="width:13%">Available Limits (INR)</th>
                                                @*<th style="width:12%">Utilized Limits (INR)</th>*@
                                                <th style="width:10%">Interest</th>
                                                @*<th style="width:20%">Validity</th>*@
                                                <th style="width:15%">Draw Funds (INR)</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

