@model Finocart.CustomModel.ChangePasswordModel
@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}


@using (Html.BeginForm("updateNewPassword", "Common", FormMethod.Post, new { enctype = "multipart/form-data", id = "FormSubmitLogin" }))
{
    @Html.AntiForgeryToken()


    <div id="login-box">
        <div class="col-xs-12 logbox log-big">
            <div class="login-box clearfix">
                <div style=" display:inline-flex;position: relative;">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 padding hidden-xs">
                        <div class="left-box clearfix">
                            <img src="~/Content/images/login-logo.png" class="img-responsive" />
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 padding" id="logsec">
                        <div class="right-box" id="rightbox">
                            <form>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h3>Change Password</h3>
                                        <label class="log-valid" id="lblerror">@ViewBag.InvalidCredential</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        @Html.HiddenFor(m => m.Role)
                                        @Html.HiddenFor(m => m.UserId)
                                        @Html.HiddenFor(m => m.Email)
                                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", placeholder = "Old Password",@id="txtOldPassword" })
                                        <label id="lblOldPasswordError" class="error" style="color:red;display: none;">Old Password cannot be empty</label>
                                        <label id="lblWrongPasswordError" class="error" style="color:red;display: none;">@TempData["WrongPassword"]</label>
                                    </div>
                                    <div class="col-xs-12">
                                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = "New Password", @id = "txtNewPassword" })
                                        <label id="lblNewPasswordError" class="error" style="color:red;display: none;">New Password cannot be empty</label>
                                    </div>
                                    <div class="col-xs-12">
                                        <input type="password" placeholder="Confirm Password" id="ConfirmPassword" class="form-control" />
                                        <label id="lblConfirmPasswordError" class="error" style="color:red;display: none;">Confirm Password cannot be empty</label>
                                        <label id="lblUnMatchError" class="error" style="color:red;display: none;">Confirm Password should be same as new password</label>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6">
                                                <button class="login-btn" type="submit" id="btnSave">Submit</button>
                                            </div>
                                            <div class="col-xs-12 col-sm-6">
                                                <button class="clear-btn" type="button" id="btnclear">Clear</button>
                                            </div>
                                            <div class="col-xs-12 col-sm-6">
                                                <button class="cancel-btn" type="button" onclick="BackBtn()" style="margin-top: 10px;width: 340px; background-color: #3a71b5;">Back</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script>
        $(function () {
            $("#btnSave").click(function (e) {

               

                var errormsg = false;

                //////

                var OldPassword = $("#OldPassword").val();
                var NewPassword = $("#NewPassword").val();
                var ConfirmPassword = $("#ConfirmPassword").val();

                if (OldPassword == "") {
                    $("#lblOldPasswordError").show();
                    errormsg = true;
                }

                if (NewPassword == "") {
                    $("#lblNewPasswordError").show();
                    errormsg = true;
                }

                if (ConfirmPassword == "") {
                    $("#lblConfirmPasswordError").show();
                    errormsg = true;
                }

                if (NewPassword != ConfirmPassword) {
                    $("#lblUnMatchError").show();
                    errormsg = true;
                }

                //////

                if (errormsg == true) {
                    return false;
                }
                // Validation End
            });
            $("#btnclear").click(function () {
                debugger;
                $("#txtOldPassword").val('');
                $("#txtNewPassword").val('');
                $("#ConfirmPassword").val('');
            });
            $("#OldPassword").keypress(function () {
                $('#lblOldPasswordError').hide();
                $("#lblWrongPasswordError").hide();
            });

            $("#NewPassword").keypress(function () {
                $('#lblNewPasswordError').hide();
            });

            $("#ConfirmPassword").keypress(function () {
                $('#lblConfirmPasswordError').hide();
                $('#lblUnMatchError').hide();
            });
        });
        function BackBtn() {
            history.back();
        }

    </script>
}
